# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------------------------------------
# Virtual Environment
# --------------------------------------------------
.venv/
venv/
env/

# --------------------------------------------------
# VS Code
# --------------------------------------------------
.vscode/

# --------------------------------------------------
# Operating System
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# Python Cache
# --------------------------------------------------
.pytest_cache/
.mypy_cache/

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log
logs/

# --------------------------------------------------
# MuJoCo
# --------------------------------------------------
*.mjb

# 외부 MuJoCo 모델 저장소
models/mujoco_menagerie/

# --------------------------------------------------
# Output Files
# --------------------------------------------------
outputs/
captures/

# --------------------------------------------------
# YOLO
# --------------------------------------------------
runs/

# --------------------------------------------------
# ROS2
# --------------------------------------------------
build/
install/
log/

# --------------------------------------------------
# Jupyter Notebook
# --------------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------------
# Environment Variables
# --------------------------------------------------
.env